{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock %}
{% block about %}class='active'{% endblock %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="about">
            <div class="panel panel-info">
                <div class="panel-heading"><img class="img-responsive center-block logo"
                                                src="{% static 'img/logo.png' %}">
                </div>
                <div class="panel-body about-form">
                    <p>
                        ProGroup is built upon the idea of a social network with several users who can
                        contribute by creating new groups and posts which belong to a group. This is a simplified
                        social network interface built on different apps, including an authentication system. Users
                        can join or leave groups, create groups, create or delete posts and each has it's own profile
                        containing their post history.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}