{% load humanize %}
<ul class="timeline" xmlns="http://www.w3.org/1999/html">
    <li class="timeline-inverted">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-comment"></i></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>
                    <a class="timeline-title" href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a>
                    <a class="timeline-time pull-right" href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at|naturaltime }}</a>
                </p>
                <p class="small help-block">in {{ post.group.name }}</p>
            </div>
            <div class="timeline-body">
                <p>{{ post.message_html|safe }}</p>
            </div>
            <div class="timeline-footer">
                {% if user.is_authenticated and post.user == user and not hide_delete %}
                    <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </a>
                {% endif %}
            </div>
        </div>
    </li>
</ul>