{% extends "posts/post_base.html" %}

{% block prepost %}
    <div class="col-md-4">
        <div class="content-panel">
            <div class="well content-title">
                <p>
                    @{{ post_user.username }}
                    <small class="help-block">Post History</small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_content %}
    <div class="col-md-8">
        <div class="group-panel">
            {% for post in post_list %}
                {% include "posts/_post.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
